In [1]:
%matplotlib inline
# import required libraries
import random
import datetime 
import numpy as np
import pandas as pd
from random import randrange

import matplotlib.pyplot as plt

import seaborn as sns

sns.set_style('whitegrid')
sns.set_context('talk')

params = {'legend.fontsize': 'small',
          'figure.figsize': (10, 5),
         'axes.labelsize': 'medium',
         'axes.titlesize':'medium',
         'xtick.labelsize':'medium',
         'ytick.labelsize':'medium'}

plt.rcParams.update(params)

from IPython.display import display, HTML

In [2]:
hour_df = pd.read_csv('train_ZoGVYWq.csv')
#hour_df = pd.read_csv('test_66516Ee.csv')
print("Shape of dataset::{}".format(hour_df.shape))

Shape of dataset::(79853, 13)

In [3]:
display(hour_df.head())

,id,perc_premium_paid_by_cash_credit,age_in_days,Income,Count_3-6_months_late,Count_6-12_months_late,Count_more_than_12_months_late,application_underwriting_score,no_of_premiums_paid,sourcing_channel,residence_area_type,premium,renewal
0,110936,0.429,12058,355060,0.0,0.0,0.0,99.02,13,C,Urban,3300,1
1,41492,0.010,21546,315150,0.0,0.0,0.0,99.89,21,A,Urban,18000,1
2,31300,0.917,17531,84140,2.0,3.0,1.0,98.69,7,C,Rural,3300,0
3,19415,0.049,15341,250510,0.0,0.0,0.0,99.57,9,A,Urban,9600,1
4,99379,0.052,31400,198680,0.0,0.0,0.0,99.87,12,B,Urban,9600,1

In [4]:
# data types of attributes
hour_df.dtypes

#to remove
# id                                    int64 to string


# perc_premium_paid_by_cash_credit    float64
# age_in_days                           int64
# Income                                int64

# Count_3-6_months_late               float64
# Count_6-12_months_late              float64
# Count_more_than_12_months_late      float64
  #do feature eng
# application_underwriting_score      float64
    #wht is it scale from 0--90
# no_of_premiums_paid                   int64
# sourcing_channel                     object
# residence_area_type                  object
# premium                               int64

#to classfiy
# renewal                               int64

#categorical
#'sourcing_channel','residence_area_type'

id                                    int64
perc_premium_paid_by_cash_credit    float64
age_in_days                           int64
Income                                int64
Count_3-6_months_late               float64
Count_6-12_months_late              float64
Count_more_than_12_months_late      float64
application_underwriting_score      float64
no_of_premiums_paid                   int64
sourcing_channel                     object
residence_area_type                  object
premium                               int64
renewal                               int64
dtype: object

In [5]:
hour_df.columns

Index(['id', 'perc_premium_paid_by_cash_credit', 'age_in_days', 'Income',
       'Count_3-6_months_late', 'Count_6-12_months_late',
       'Count_more_than_12_months_late', 'application_underwriting_score',
       'no_of_premiums_paid', 'sourcing_channel', 'residence_area_type',
       'premium', 'renewal'],
      dtype='object')

In [6]:
# dataset summary stats
hour_df.describe()

,id,perc_premium_paid_by_cash_credit,age_in_days,Income,Count_3-6_months_late,Count_6-12_months_late,Count_more_than_12_months_late,application_underwriting_score,no_of_premiums_paid,premium,renewal
count,79853.000000,79853.000000,79853.000000,7.985300e+04,79756.000000,79756.000000,79756.000000,76879.000000,79853.000000,79853.000000,79853.000000
mean,57167.166368,0.314288,18846.696906,2.088472e+05,0.248671,0.078188,0.060008,99.067291,10.863887,10924.507533,0.937410
std,32928.970160,0.334915,5208.719136,4.965826e+05,0.691468,0.436507,0.312023,0.739799,5.170687,9401.676542,0.242226
min,2.000000,0.000000,7670.000000,2.403000e+04,0.000000,0.000000,0.000000,91.900000,2.000000,1200.000000,0.000000
25%,28640.000000,0.034000,14974.000000,1.080100e+05,0.000000,0.000000,0.000000,98.810000,7.000000,5400.000000,1.000000
50%,57262.000000,0.167000,18625.000000,1.665600e+05,0.000000,0.000000,0.000000,99.210000,10.000000,7500.000000,1.000000
75%,85632.000000,0.538000,22636.000000,2.520900e+05,0.000000,0.000000,0.000000,99.540000,14.000000,13800.000000,1.000000
max,114076.000000,1.000000,37602.000000,9.026260e+07,13.000000,17.000000,11.000000,99.890000,60.000000,60000.000000,1.000000

In [7]:
print(hour_df['residence_area_type'].value_counts())
print(hour_df['sourcing_channel'].value_counts())#.unique() #['C', 'A', 'B', 'D', 'E']
print(hour_df['Count_3-6_months_late'].value_counts())
print(hour_df['Count_6-12_months_late'].value_counts())
print(hour_df['Count_more_than_12_months_late'].value_counts())
#print(hour_df['no_of_premiums_paid'].value_counts())

Urban    48183
Rural    31670
Name: residence_area_type, dtype: int64
A    43134
B    16512
C    12039
D     7559
E      609
Name: sourcing_channel, dtype: int64
0.0     66801
1.0      8826
2.0      2519
3.0       954
4.0       374
5.0       168
6.0        68
7.0        23
8.0        15
9.0         4
11.0        1
12.0        1
13.0        1
10.0        1
Name: Count_3-6_months_late, dtype: int64
0.0     75831
1.0      2680
2.0       693
3.0       317
4.0       130
5.0        46
6.0        26
7.0        11
8.0         5
10.0        4
9.0         4
14.0        2
11.0        2
13.0        2
17.0        1
12.0        1
15.0        1
Name: Count_6-12_months_late, dtype: int64
0.0     76038
1.0      2996
2.0       498
3.0       151
4.0        48
5.0        13
6.0         6
7.0         3
8.0         2
11.0        1
Name: Count_more_than_12_months_late, dtype: int64

In [8]:
print(hour_df['renewal'].value_counts())

1    74855
0     4998
Name: renewal, dtype: int64

In [9]:
hour_df.isnull().sum()

id                                     0
perc_premium_paid_by_cash_credit       0
age_in_days                            0
Income                                 0
Count_3-6_months_late                 97
Count_6-12_months_late                97
Count_more_than_12_months_late        97
application_underwriting_score      2974
no_of_premiums_paid                    0
sourcing_channel                       0
residence_area_type                    0
premium                                0
renewal                                0
dtype: int64

In [10]:
print("Dataframe columns:\n{}".format(hour_df.columns.tolist()))

Dataframe columns:
['id', 'perc_premium_paid_by_cash_credit', 'age_in_days', 'Income', 'Count_3-6_months_late', 'Count_6-12_months_late', 'Count_more_than_12_months_late', 'application_underwriting_score', 'no_of_premiums_paid', 'sourcing_channel', 'residence_area_type', 'premium', 'renewal']

In [11]:
hour_df['Count_3-6_months_late'].fillna(0, inplace=True)
hour_df['Count_6-12_months_late'].fillna(0, inplace=True)
hour_df['Count_more_than_12_months_late'].fillna(0, inplace=True)

In [12]:
hour_df['Count_3-6_months_late']=hour_df['Count_3-6_months_late'].astype(int)
hour_df['Count_6-12_months_late']=hour_df['Count_6-12_months_late'].astype(int)
hour_df['Count_more_than_12_months_late']=hour_df['Count_more_than_12_months_late'].astype(int)

In [14]:
hour_df['application_underwriting_score'].fillna(value=hour_df['application_underwriting_score'].mean(),inplace=True)

In [15]:
hour_df.isnull().sum()

id                                  0
perc_premium_paid_by_cash_credit    0
age_in_days                         0
Income                              0
Count_3-6_months_late               0
Count_6-12_months_late              0
Count_more_than_12_months_late      0
application_underwriting_score      0
no_of_premiums_paid                 0
sourcing_channel                    0
residence_area_type                 0
premium                             0
renewal                             0
dtype: int64

In [26]:
hour_df.columns

Index(['id', 'perc_premium_paid_by_cash_credit', 'age_in_days', 'Income',
       'Count_3-6_months_late', 'Count_6-12_months_late',
       'Count_more_than_12_months_late', 'application_underwriting_score',
       'no_of_premiums_paid', 'sourcing_channel', 'residence_area_type',
       'premium', 'renewal', 'age_in_months', 'age_class'],
      dtype='object')

In [20]:
hour_df.head()

,id,perc_premium_paid_by_cash_credit,age_in_days,Income,Count_3-6_months_late,Count_6-12_months_late,Count_more_than_12_months_late,application_underwriting_score,no_of_premiums_paid,sourcing_channel,residence_area_type,premium,renewal,age_in_months,age_class
0,110936,0.429,12058,355060,0,0,0,99.02,13,C,Urban,3300,1,401.933333,0
1,41492,0.010,21546,315150,0,0,0,99.89,21,A,Urban,18000,1,718.200000,1
2,31300,0.917,17531,84140,2,3,1,98.69,7,C,Rural,3300,0,584.366667,1
3,19415,0.049,15341,250510,0,0,0,99.57,9,A,Urban,9600,1,511.366667,1
4,99379,0.052,31400,198680,0,0,0,99.87,12,B,Urban,9600,1,1046.666667,3

In [18]:
#hour_df['age_in_months']=hour_df['age_in_days']/30

In [19]:
#hour_df['age_class']=pd.cut(hour_df['age_in_months'],4, labels=[0,1,2,3])

In [24]:
#hour_df[hour_df['application_underwriting_score']>=90].shape

(79853, 15)

In [263]:
hour_df.describe()

,id,perc_premium_paid_by_cash_credit,age_in_days,Income,Count_3-6_months_late,Count_6-12_months_late,Count_more_than_12_months_late,application_underwriting_score,no_of_premiums_paid,premium,renewal
count,79853.000000,79853.000000,79853.000000,7.985300e+04,79853.000000,79853.000000,79853.000000,79853.000000,79853.000000,79853.000000,79853.000000
mean,57167.166368,0.314288,18846.696906,2.088472e+05,0.248369,0.078093,0.059935,99.067291,10.863887,10924.507533,0.937410
std,32928.970160,0.334915,5208.719136,4.965826e+05,0.691102,0.436251,0.311840,0.725892,5.170687,9401.676542,0.242226
min,2.000000,0.000000,7670.000000,2.403000e+04,0.000000,0.000000,0.000000,91.900000,2.000000,1200.000000,0.000000
25%,28640.000000,0.034000,14974.000000,1.080100e+05,0.000000,0.000000,0.000000,98.830000,7.000000,5400.000000,1.000000
50%,57262.000000,0.167000,18625.000000,1.665600e+05,0.000000,0.000000,0.000000,99.180000,10.000000,7500.000000,1.000000
75%,85632.000000,0.538000,22636.000000,2.520900e+05,0.000000,0.000000,0.000000,99.520000,14.000000,13800.000000,1.000000
max,114076.000000,1.000000,37602.000000,9.026260e+07,13.000000,17.000000,11.000000,99.890000,60.000000,60000.000000,1.000000

In [264]:
categoricial_feature_names = ['sourcing_channel','residence_area_type']
numeric_feature_names=['perc_premium_paid_by_cash_credit',  'Income','application_underwriting_score',
       'no_of_premiums_paid','age_in_days','premium'] #'age_in_days',
hour_df=pd.get_dummies(hour_df, columns=categoricial_feature_names)

In [265]:
from sklearn.preprocessing import MinMaxScaler
ss = MinMaxScaler()
# fit scaler on numeric features
ss.fit(hour_df[numeric_feature_names])

# scale numeric features now
hour_df[numeric_feature_names] = ss.transform(hour_df[numeric_feature_names])

# view updated featureset

In [266]:
hour_df.describe()

,id,perc_premium_paid_by_cash_credit,age_in_days,Income,Count_3-6_months_late,Count_6-12_months_late,Count_more_than_12_months_late,application_underwriting_score,no_of_premiums_paid,premium,renewal,sourcing_channel_A,sourcing_channel_B,sourcing_channel_C,sourcing_channel_D,sourcing_channel_E,residence_area_type_Rural,residence_area_type_Urban
count,79853.000000,79853.000000,79853.000000,79853.000000,79853.000000,79853.000000,79853.000000,79853.000000,79853.000000,79853.000000,79853.000000,79853.000000,79853.000000,79853.000000,79853.000000,79853.000000,79853.000000,79853.000000
mean,57167.166368,0.314288,0.373403,0.002048,0.248369,0.078093,0.059935,0.897033,0.152826,0.165383,0.937410,0.540168,0.206780,0.150765,0.094661,0.007627,0.396604,0.603396
std,32928.970160,0.334915,0.174018,0.005503,0.691102,0.436251,0.311840,0.090850,0.089150,0.159892,0.242226,0.498387,0.404999,0.357821,0.292749,0.086997,0.489195,0.489195
min,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,28640.000000,0.034000,0.244020,0.000931,0.000000,0.000000,0.000000,0.867334,0.086207,0.071429,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,57262.000000,0.167000,0.365996,0.001579,0.000000,0.000000,0.000000,0.911139,0.137931,0.107143,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
75%,85632.000000,0.538000,0.500000,0.002527,0.000000,0.000000,0.000000,0.953692,0.206897,0.214286,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000
max,114076.000000,1.000000,1.000000,1.000000,13.000000,17.000000,11.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [267]:
hour_df.to_csv('train_1.csv',index=None)
#hour_df.to_csv('test_1.csv',index=None)

In [ ]:
days to months
 (No applications under the score of 90 are insured)
    
age_in_days in